/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


/*Author Styles*/
html {
    background: repeating-linear-gradient(
        to bottom,
        #dc4238,
        #fff 50%
    );

}

body {
    margin: auto;
    font-family: Futura, serif;
    max-width: 56.25em;
}

header {
    padding: 4em 4.5em 1.5em 4.5em;
    background-color: #549be1;
    color: white;
}

main {
    padding: 0 4em;
    margin: auto;
    background-color: white;
    height: 100%;
}

h1 {
    font-size: 3em;
    margin: 0;
}

#instructions {
    margin: 0;
    padding: 1.5em 0;
    text-align: center;
}

.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.state {
    flex: 1;
    padding: 1.5em .75em;
    text-align: center;
    text-transform: uppercase;
}

.state-name {
    padding: .5em;
    font-size: 1.25em;
}




