/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


/*Author Styles*/
html {
    background: #113479;
}

body {
    margin: auto;
    font-family: Futura, sans-serif;
    max-width: 60em;
}

header {
    padding: 4em 4.5em 1.5em 4.5em;
    background-color: #4ba4e1;
    color: white;
}

main {
    padding: 1em 4em;
    margin: auto;
    background-color: white;
    height: 100vh;
}

h1 {
    font-size: 3em;
    margin: 0;
}

#instructions {
    margin: 0;
    padding: 1.5em 0;
    text-align: center;
    font-size: 1.1em;
    font-style: italic;
}

.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
}

.state {
    flex: 1;
    padding: 1.5em .75em;
    text-align: center;
    text-transform: uppercase;
}

.state-name {
    padding: .5em;
    font-size: 1.25em;
}




